<!DOCTYPE html>
<html data-theme="dark">
<head>
	<script src="../scripts/dark.js"></script>
	<link rel="stylesheet" href="../styles.css">
	<meta charset="UTF-8">
</head>

<body id="importBody" data-rm="import">
	<h1 class="header">Import</h1>
	<div class="container"id="importCont">
		<label class="file" id="cardDrop">
			<input type="file" id="importCards" accept=".txt,.csv">
			<span class="file-custom"></span>
		</label>
		<br>

		<label class="file" id="banDrop">
			<input type="file" id="importBan" accept=".txt,.csv">
			<span class="file-custom"></span>
		</div>
	</div>

	<script src="../scripts/menu.js"></script>
	<script src="../scripts/import.js"></script>
</body>
</html>